.FQ1{
    height: 500px;
    background-color: grey;

    .col{
        margin-top: 8%;
    }
}
.FQ1B{
    height:70px;
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
}