@media screen and (max-width: 380px) {
    .QS2{
        height: auto;
    }
    .QS2cont2 {
        display: flex;
        justify-content: center;
        margin-top: 6%;
        flex-direction: column;}
    .cartQ{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .QS4{
        height: auto;}
    .row{
            display: block;
            justify-content: center;
            margin-top: 6%;
            flex-direction: column; 
        }
        .FQ1{
        height:auto; 
        }
    .FQ1B{
        opacity: 0%;
    }
    }
