.QS3{
    background-image: url(../../../public/img/background/testi.png);
    background-size: cover;
    height: 500px;
    width: 100%;
    h2{
        color: white;
        font-size: 250%;
    }
}