.QS1{
    height: 650px;
    width: auto;
    background-image: url(../../../public/img/background/hero.jpeg);
    width: 100%;
    background: cover;
}
.QS1text{
    color:white;
    padding: 10%;
    }
        h1{
            font-size: 350%;
        }
        button{
            margin-top: 3%;
            border:solid rgb(255, 255, 255) 1px !important;
            border-radius: 0% !important;
            color: white !important;
        }
